# OS
.DS_Store

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build outputs
dist/
build/
out/
.cache/

# Env
.env
.env.*
!.env.example

# IDE
.vscode/
.idea/

# Misc
*.log
